.input {
    background: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    color: var(--primary-color);
    padding-left: 5px;

    // text-shadow: 0 0 0 var(--primary-color);
}
